services:
  app:
    build:
      context: .
      dockerfile: docker/Dockerfile
    container_name: student_php
    ports:
      - "8080:80"
    volumes:
      - ./:/var/www/html
      - ./docker/vhost.conf:/etc/apache2/sites-available/000-default.conf
    environment:
      DB_HOST: db
      DB_USER: student_user
      DB_PASS: student_pass
      DB_NAME: student_management
    depends_on:
      - db

  db:
    image: mysql:5.7
    container_name: student_mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: student_management
      MYSQL_USER: student_user
      MYSQL_PASSWORD: student_pass
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: student_pma
    restart: always
    ports:
      - "8081:80"
    environment:
      PMA_HOST: db
      PMA_USER: root
      PMA_PASSWORD: root
    depends_on:
      - db

volumes:
  db_data:
